
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body {
	background-color: #d6d2d2;
	margin: 0px auto;
	max-width: 550px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.list{
	padding-top: 100px;
	padding-bottom: 30px;
}
.list li {
	font-size: 20px;
	margin: 0px 0px 10px 0px;
	background: url("../img/fl-shape-10.png")left no-repeat;
	padding: 0px 0px 0px 30px;
}
.list :first-child  {
	text-decoration: line-through;
}
.list :nth-child(2) {
	font-weight: 700;
}
.list :nth-child(3) {
font-style: italic;
}
.list :nth-child(4) {
	text-transform: uppercase;
}
.list-2{
	margin-bottom: 30px;
}
.list-2 li {
	font-size: 20px;
	background: url("../img/fl-shape-10.png")left no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 30px;
}
.list-2 :nth-child(2):hover {
	font-weight: 700px;
	color: red; 
}
.form__button {
	width:30%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	background-color: rgb(112, 220, 184);
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 3px 0 rgb(65, 65, 65);
}
.form__button:hover {
	background-color: rgb(32, 113, 118);
	color: white;
 }
 .form__button:active {
	background-color: #696969;
	color: white;
 }
 .form__input {
	width: 30%;
	height: 50px;
	padding: 0px 15px;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 30px;

 }
 .form__input:focus {
	box-shadow: 0 0 20px #0b0d0a;
 }
